
django_test/__pycache__/wsgi.cpython-37.pyc
django_test/__pycache__/urls.cpython-37.pyc
django_test/__pycache__/settings.cpython-37.pyc
django_test/__pycache__/__init__.cpython-37.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/termux_django_test.iml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
